*{
    margin: 0;
    padding: 0;
}
.main{
   
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/479009182/photo/silhouette-of-a-strong-fighter.jpg?s=612x612&w=0&k=20&c=eqC_1o48WNIxNZIyJrHl8nDLmYC7RtSKq1lJVmDS9GU=);
    background-position: center;
    background-size: cover;
    width: auto;
    height: 150vh;
    
}



.mai{
   
    background-image: url(https://media.istockphoto.com/id/479009182/photo/silhouette-of-a-strong-fighter.jpg?s=612x612&w=0&k=20&c=eqC_1o48WNIxNZIyJrHl8nDLmYC7RtSKq1lJVmDS9GU=);
    background-position: center;
   background: cover;
    width:auto;
    height: auto;
}


*

.container{
   
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/479009182/photo/silhouette-of-a-strong-fighter.jpg?s=612x612&w=0&k=20&c=eqC_1o48WNIxNZIyJrHl8nDLmYC7RtSKq1lJVmDS9GU=);
    background-position: center;
    background-size: cover;
    width: auto;
  height: auto;
    padding:15px 9%;
    padding-bottom: 100px;
  display: flexbox;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
    position: relative; 
    
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(189, 0, 0, 0.2);
    border-radius: 20px;
  width: 100%;
    background-image: url(https://image.winudf.com/v2/image/Y29tLnlhZ2FtaS5CZU11c2NsZV9zY3JlZW5fMl8xNTM2MzM1MzEwXzAyNA/screen-2.jpg?fakeurl=1&type=.jpg);
    background-position: center;
    background-size: cover;
    width: auto;
  height: auto;
    padding:30px 30px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color: #ff7300;
    font-size: 22px;
    padding:10px 0;
}

.container .box-container .box p{
    color: #ffffff;
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .box .btn{
   position:center;
    margin-top: 30px;
    display: inline-block;
    background-color: #ff7300;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    padding: 4px 12px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}

    

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size:50px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}
.PARTS{
    width: 400px;
    float: left;
    height: 700px;
margin-top: 70px;
}
  


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: -ms-page;
}

.content .par{
    padding-right: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}



.content span{
    color: #ff7200;
    font-size: 67px
}

